/* ------------------------------ */
/* Custom properties              */
/* ------------------------------ */

:root {
  /* colors */

  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font-sizes */

  --fs-900: clamp(5rem, 10vw + 1rem, 9.375rem); /*  min 80px max 150px*/
  --fs-800: 3.5rem; /*  56px */
  --fs-700: 1.5rem; /*  24px */
  --fs-600: 1rem; /*  16px */
  --fs-500: 1rem; /*  16px */
  --fs-400: 0.9375rem; /*  15px */
  --fs-300: 0.875rem; /*  14px */
  --fs-200: 0.875rem; /*  14px */

  /* font families */

  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

@media only screen and (min-width: 35em) {
  :root {
    /* font-sizes */
    --fs-800: 5rem; /*  80px */
    --fs-700: 2.5rem; /*  40px */
    --fs-600: 1.5rem; /*  24px */
    --fs-500: 1rem; /*  16px */
  }
}

@media only screen and (min-width: 49em) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem; /*  100px */
    --fs-700: 3.5rem; /*  56px */
    --fs-600: 2rem; /*  32px */
    --fs-500: 1.75rem; /*  28px */
    --fs-400: 1.125rem; /*  18px */
    --fs-300: 1rem; /*  16px */
  }
}

/* ------------------------------ */
/* Reset                          */
/* ------------------------------ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  line-height: 1.5;
  min-height: 100vh;

  display: grid;
  grid-template-rows: min-content 1fr;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form element easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for peaople who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------------ */
/* Utility classes                */
/* ------------------------------ */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 2.5rem);
}

.flow div > p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 0.25s ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

/* colors */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-light {
  background-color: hsl(var(--clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.bg-light-20 {
  background-color: hsl(var(--clr-light) / 0.2);
}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-light {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}
.text-white-fade {
  color: hsl(var(--clr-white) / .5);
}

/* borders */
.white-border {
  padding: 3rem 1rem 1rem;
  border: 1px solid white;
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 2.7px;
}

.letter-spacing-2 {
  letter-spacing: 2.36px;
}

@media only screen and (min-width: 45em) {
  .letter-spacing-1 {
    letter-spacing: 4.725px;
  }
  .letter-spacing-2 {
    letter-spacing: 2.7px;
  }
  .letter-spacing-3 {
    letter-spacing: 2.35px;
  }
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  letter-spacing: 4.725px;
  text-transform: uppercase;
}

.numbered-title span {
  margin-right: 1rem;
  color: hsl(var(--clr-white) / 0.25);
  font-weight: bold;
}

/* ------------------------------ */
/* Custom properties              */
/* ------------------------------ */

.large-button {
  width: clamp(9.375rem, 30vw + 1rem, 17.125rem);
  position: relative;
  display: inline-grid;
  z-index: 1;
  place-items: center;
  aspect-ratio: 1;
  /* padding: 0 2em; */
  border-radius: 50%;
  text-decoration: none;
}

.large-button::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  background-color: hsl(var(--clr-white) / 0.15);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.5s linear, transform 0.5s ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

/* Primary header */

.logo {
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
  max-width: none;
}

.primary-navigation {
  --underline-gap: 2.2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: hsl(var(--clr-dark) / 0.95);
}

@supports (backdrop-filter: blur(3rem)) {
  .primary-navigation {
    backdrop-filter: blur(3rem);
    background-color: hsl(var(--clr-white) / 0.04);
  }
}

.primary-navigation a {
  text-decoration: none;
  white-space: nowrap;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-right: 11px;
}

.underline-indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, 0.5rem) 0;
  border: none;
  border-bottom: 3px solid hsl(var(--clr-white) / 0);
}

.underline-indicators > *:hover,
.underline-indicators > *:focus,
.underline-indicators > *:active {
  border-color: hsl(var(--clr-white) / 0.5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
  border-color: hsl(var(--clr-white));
  color: hsl(var(--clr-white));
  cursor: default;
}

.mobile-nav-toggle {
  display: none;
}

.primary-header {
  position: relative;
  justify-content: space-between;
  align-items: center;
  --gap: 0;
}

@media only screen and (min-width: 35em) {
  .primary-navigation {
    padding-inline: 3rem;
    --gap: 2rem;
  }

  .primary-navigation a > span {
    display: none;
  }

  .numbered-title span {
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 49em) {
  /* .primary-header {
    margin-left: 3.5rem;
    margin-top: 4rem;
  } */

  .primary-header::after {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    background: hsl(var(--clr-white) / 0.25);
    order: 1;
    z-index: 999;
    margin-right: -2.5rem;
  }

  .primary-header nav {
    order: 2;
  }

  .primary-navigation {
    margin-block: 2rem;
    padding-inline: clamp(2rem, 7vw, 7rem);
    /* --gap: clamp(1rem, 4vw, 3rem); */
  }

  .primary-navigation a > span {
    display: inline;
  }
}

@media only screen and (max-width: 35em) {
  .primary-navigation {
    --underline-gap: 0.5rem;
    flex-direction: column;
    justify-items: flex-start;
    position: fixed;
    inset: 0 0 0 18vh;
    padding: min(10rem, 15vh) 2rem;
    z-index: 999;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
  }

  /* .underline-indicators > * {
    border: none;
  } */

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    top: 2rem;
    right: 1rem;
    z-index: 1999;
    border: none;
    background: transparent;
    background-image: url(./assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
  }

  .mobile-nav-toggle[aria-expanded="false"] ~ nav .primary-navigation {
    transform: translateX(100%);
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(./assets/shared/icon-close.svg);
  }

  .mobile-nav-toggle:focus-visible {
    outline: 1px solid hsl(var(--clr-light));
    outline-offset: 5px;
  }
}

.tab-list {
  --gap: 2rem;
  --underline-gap: 0.75rem;
  justify-content: space-evenly;
}

.tab-list > * {
  padding: var(--underline-gap, 1rem) 0;
  background-color: transparent;
}

@media only screen and (min-width: 49em) {
  .tab-list {
    --gap: 2rem;
    justify-content: flex-start;
  }
}

.dot-indicators {
  --gap: 1rem;
}

.dot-indicators > * {
  cursor: pointer;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: hsl(var(--clr-white) / 0.25);
}

.dot-indicators > *:hover,
.dot-indicators > *:active,
.dot-indicators > *:focus {
  background-color: hsl(var(--clr-white) / 0.5);
}

.dot-indicators > [aria-selected="true"] {
  cursor: default;
  background-color: hsl(var(--clr-white));
}

@media only screen and (min-width: 49em) {
  .dot-indicators > * {
    width: 15px;
  }
}

.number-indicators {
  --gap: 1rem;
}

.number-indicators > * {
  cursor: pointer;
  width: 5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid hsl(var(--clr-white) / 0.25);
  background-color: hsl(var(--clr-dark));
}

.number-indicators > *:hover,
.number-indicators > *:active,
.number-indicators > *:focus {
  border-color: hsl(var(--clr-white) / 0.5);
}

.number-indicators > [aria-selected="true"] {
  cursor: default;
  color: hsl(var(--clr-dark));
  border-color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-white));
}

/* ------------------------------ */
/* Page specific                  */
/* ------------------------------ */

/* home */

body.home {
  background-position: bottom center;
  background-size: cover;
}

.home {
  background-image: url(./assets/home/background-home-mobile.jpg);
}

@media only screen and (min-width: 35em) {
  .home {
    background-image: url(./assets/home/background-home-tablet.jpg);
  }
}

@media only screen and (min-width: 49em) {
  .home {
    background-image: url(./assets/home/background-home-desktop.jpg);
  }
}

.home h1 span {
  margin-top: 1rem;
}

@media only screen and (min-width: 35em) {
  .home h1 span {
    margin-top: 2rem;
  }
}

/* destination */

body.destination {
  background-position: center;
  background-size: cover;
}

.destination {
  background-image: url(./assets/destination/background-destination-mobile.jpg);
}

.destination .fs-500 {
  font-size: 1.75rem;
}

.distance-box {
  --gap: 2rem;
  border-top: 1px solid hsl(var(--clr-white) / 0.25);
  margin-top: 2rem;
  padding-top: 2rem;
  justify-content: space-evenly;
  flex-direction: column;
}

@media only screen and (min-width: 35em) {
  .destination {
    background-image: url(./assets/destination/background-destination-tablet.jpg);
  }

  .distance-box {
    margin-top: 3.5rem;
    flex-direction: row;
    justify-content: space-evenly;
    --gap: 0rem;
  }
}

@media only screen and (min-width: 49em) {
  .destination {
    background-image: url(./assets/destination/background-destination-desktop.jpg);
  }

  .distance-box {
    justify-content: flex-start;
    --gap: min(6vw, 6rem);
    /* --gap: clamp(3rem, 6vw, 6rem); */
  }
}

/* crew */

body.crew {
  background-position: bottom center;
  background-size: cover;
}

.crew {
  background-image: url(./assets/crew/background-crew-mobile.jpg);
}

@media only screen and (min-width: 35em) {
  .crew {
    background-image: url(./assets/crew/background-crew-tablet.jpg);
  }
}

@media only screen and (min-width: 49em) {
  .crew {
    background-image: url(./assets/crew/background-crew-desktop.jpg);
  }
}

/* ------------------------------ */
/* Grid container layout          */
/* ------------------------------ */

.grid-container {
  text-align: center;
  display: grid;
  place-items: center;
  padding-inline: 1.5rem;
  gap: 2rem;
  padding-bottom: 4rem;
}

.grid-container p {
  max-width: 39ch;
}

.numbered-title {
  grid-area: title;
}

/* destination */

.grid-container--destination,
.grid-container--crew {
  --flow-space: 1rem;
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
}

.grid-container--destination > picture {
  grid-area: image;
  width: 50%;
}

.grid-container--destination > .tab-list,
.grid-container--crew > .dot-indicators {
  grid-area: tabs;
}

.grid-container--destination > .destination-details,
.grid-container--crew > .crew-details {
  grid-area: content;
}

/* destination */

.grid-container--crew > .crew-picture {
  grid-area: image;
  border-bottom: 1px solid hsl(var(--clr-white) / 0.25);
  justify-items: center;
}

.grid-container--crew > .crew-picture picture {
  width: 52%;
}

@media only screen and (min-width: 35em) {
  /* destination */

  .grid-container--destination {
    padding-inline: 2.5rem;
  }

  .grid-container--destination > .numbered-title {
    margin-block: 2rem;
    justify-self: start;
  }

  .grid-container--destination > .planet-image {
    width: 45%;
  }

  /* crew */

  .grid-container--crew {
    padding-inline: 2.5rem;
    /* gap: 0; */
    grid-template-areas:
      "title"
      "content"
      "tabs"
      "image";
    padding-bottom: 0;
  }

  .grid-container--crew > .numbered-title {
    margin-block: 2rem;
    justify-self: start;
  }

  .grid-container--crew > .crew-picture {
    border: none;
  }

  .grid-container--crew > .crew-picture picture {
    width: 85%;
  }

  /* paragraphs  */

  .grid-container--home p {
    max-width: 49ch;
    /* margin-top: 2rem; */
  }

  .grid-container--destination p {
    max-width: 64ch;
  }

  .grid-container--crew p {
    max-width: 51ch;
  }
}

@media only screen and (min-width: 49em) {
  .grid-container {
    text-align: left;
    display: grid;
    gap: var(--container-gap, 2em);
    grid-template-columns: minmax(7rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(
        7rem,
        1fr
      );
    align-content: start;
  }

  .grid-container p {
    max-width: 45ch;
  }

  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
  }

  .grid-container--home > *:first-child {
    grid-column: 2;
    justify-self: start;
  }

  .grid-container--home > *:last-child {
    grid-column: 3;
    justify-self: end;
  }

  /* crew */

  .grid-container--destination {
    padding-inline: 0;
    grid-template-areas:
      ". title title ."
      ". image tabs ."
      ". image content .";
  }

  .grid-container--destination > .planet-image {
    width: 70%;
    align-self: center;
  }

  .grid-container--destination > .tab-list {
    align-self: start;
    justify-self: start;
  }

  .grid-container--destination > .destination-details {
    align-self: start;
    justify-self: start;
  }

  /* crew */

  .grid-container--crew {
    padding-inline: 0;
    grid-template-areas:
      ". title image ."
      ". content image ."
      ". tabs image .";
    place-items: start;
  }

  .grid-container--crew > .crew-picture {
    place-self: stretch;
    width: max-content;
    align-self: end;
  }

  .grid-container--crew > .crew-picture picture {
    width: 100%;
  }
}
